* {
  box-sizing: border-box;
}
body {
  background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");

  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container {
  flex: auto;
  background-color: rgba(185, 177, 206, 0.527);
  padding-right: 90px;
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 3px;
  border-radius: 9px;
}
input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 9px;
  margin: 8px;
}

.img {
  width: 90;
  flex: auto;
  border-radius: 2em;
}
h1 {
  color: aquamarine;
}
.meme-generator {
  margin: 20px auto;
  width: 400px;
  font-family: sans-serif;
}

.meme-generator label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.meme-generator input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#meme {
  width: 100%;
}
